<body>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Basic Component</h5>
                                        </div>

                                        <div class="card-body">
                                            <h5>Form controls</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form [formGroup]="updateForm" *ngIf="updateForm">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Title:</label>
                                                            <input type="text" class="form-control" id="title" name="title"
                                                                formControlName="title" placeholder="Enter title">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Description:</label>
                                                            <input type="text" class="form-control" id="description"
                                                                name="description" formControlName="description"
                                                                placeholder="Enter description">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="priority">Priority:</label>
                                                            <select class="form-control" id="priority" name="priority"
                                                                formControlName="priority" required>
                                                                <option value="LOW">Low</option>
                                                                <option value="MEDIUM">Medium</option>
                                                                <option value="HIGH">High</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="status">Status:</label>
                                                            <select class="form-control" id="status" name="status"
                                                                formControlName="status" required>
                                                                <option value="PENDING">Pending</option>
                                                                <option value="IN_PROGRESS">In Progress</option>
                                                                <option value="COMPLETED">Completed</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="updatedAt">Updated At:</label>
                                                            <input type="date" class="form-control" id="updatedAt"
                                                                name="updatedAt" formControlName="updatedAt"
                                                                placeholder="Enter updated at">
                                                        </div>

                                                        <button type="submit" (click)="updatetask()"
                                                            class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vendor-all.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/pcoded.min.js"></script>

</body>
