<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="index.html" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Talent Nest</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="slimScrollDiv" style="
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(-70px + 100vh);
      ">
      <div class="navbar-content scroll-div" style="overflow: hidden; width: 100%; height: calc(-70px + 100vh)">
        <ul class="nav pcoded-inner-navbar">

          <li
            data-username="Table bootstrap datatable footable"
            class="nav-item"
          >
            <a routerLink="dashboard" class="nav-link">
              <span class="pcoded-micon"
                ><i class="feather icon-server"></i
              ></span>
              <span class="pcoded-mtext">Dashboard</span>
              </a>
              </li>
          <li class="nav-item pcoded-menu-caption">
            <label>Navigation</label>
          </li>

          <li *ngIf="visibiliyProjectManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="projects" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Projects</span>
            </a>
          </li>
          <li *ngIf="visibiliyTaskManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="tasks" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Tasks</span>
            </a>
          </li>

          <li *ngIf="visibiliyPayrollManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="payroll" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Payroll</span>
            </a>
          </li>
          <li *ngIf="visibiliyMissionManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="missions" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Mission</span>
            </a>
          </li>
          <li *ngIf="visibiliyPayrollManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="payroll/payslip" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Payslip</span>
            </a>
          </li>
          <li *ngIf="visibiliyConfigManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="config" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Configuration</span>
            </a>
          </li>
          <li *ngIf="visibiliyConfigManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="allowance" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Allowances</span>
            </a>
          </li>
          <li *ngIf="visibiliyConfigManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="deduction" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Deductions</span>
            </a>
          </li>

          <li *ngIf="visibiliyHolidayManagment" data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="holiday" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Holiday</span>
            </a>
          </li>

          <li
            data-username="Table bootstrap datatable footable"
            class="nav-item"
          >
            <a routerLink="department" class="nav-link">
              <span class="pcoded-micon"
                ><i class="feather icon-server"></i
              ></span>
              <span class="pcoded-mtext">Department</span>
            </a>
          </li>

          <li
            *ngIf="visibiliyEmployeeManagment"
            class="nav-item pcoded-hasmenu"
            (click)="toggleDropdownEmployee()"
          >
          <li *ngIf="visibiliyEmployeeManagment" class="nav-item pcoded-hasmenu" (click)="toggleDropdownEmployee()">
            <a class="nav-item dropdown-toggle">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              Employee Management
            </a>
            <ul class="nav-dropdown" [style.display]="EmployeeManagment ? 'block' : 'none'" style="width: 250px">
              <li *ngIf="displayEmployeeList" class="nav-item">
                <a class="nav-link" routerLink="users/">
                  <span> &nbsp; &nbsp;Employees</span>
                </a>
              </li>
              <li *ngIf="displayEmployeeAdd" class="nav-item">
                <a class="nav-link" routerLink="users/add">
                  <span> &nbsp; &nbsp;Add Employees</span>
                </a>
              </li>
            </ul>
          </li>

          <li *ngIf="visibiliyRoleManagment" class="nav-item pcoded-hasmenu" (click)="toggleDropdownRole()">
            <a class="nav-item dropdown-toggle">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              Role Management
            </a>
            <ul class="nav-dropdown" [style.display]="roleManagment ? 'block' : 'none'" style="width: 250px">
              <li *ngIf="displayRoleList" class="nav-item">
                <a class="nav-link" routerLink="roles/">
                  <span> &nbsp; &nbsp;Roles</span>
                </a>
              </li>
              <li *ngIf="displayRoleAdd" class="nav-item">
                <a class="nav-link" routerLink="roles/add">
                  <span> &nbsp; &nbsp;Add Roles</span>
                </a>
              </li>
            </ul>
          </li>

          <li
            *ngIf="visibiliyAttendanceManagment"
            class="nav-item pcoded-hasmenu"
            (click)="toggleDropdownAttendance()"
          >
          <li *ngIf="visibiliyAttendanceManagment" class="nav-item pcoded-hasmenu" (click)="toggleDropdownAttendance()">
            <a class="nav-item dropdown-toggle">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              Attendances Management
            </a>
            <ul class="nav-dropdown" [style.display]="AttendanceManagment ? 'block' : 'none'" style="width: 250px">
              <li *ngIf="displayAttendanceUpdate" class="nav-item">
                <a class="nav-link" routerLink="attendance/updateAttendance">
                  <span> &nbsp; &nbsp;Attendance Sheet</span>
                </a>
              </li>

              <li *ngIf="displayAttendanceCreate" class="nav-item">
                <a class="nav-link" routerLink="attendance/createAttendance">
                  <span> &nbsp; &nbsp;Create Attendance</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="slimScrollBar" style="
          background: rgba(0, 0, 0, 0.5);
          width: 5px;
          position: absolute;
          top: 34px;
          opacity: 0.4;
          display: none;
          border-radius: 7px;
          z-index: 99;
          right: 1px;
          height: 634.318px;
        "></div>
      <div class="slimScrollRail" style="
          width: 5px;
          height: 100%;
          position: absolute;
          top: 0px;
          display: none;
          border-radius: 7px;
          background: rgb(51, 51, 51);
          opacity: 0.2;
          z-index: 90;
          right: 1px;
        "></div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>