<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
               
                <h3 class="mb-4">Email is sent</h3>
                <div class="input-group mb-3">
               
                </div>
                <p class="mb-4">Please check your email!</p> 
                <a routerLink="/login" class="btn btn-primary shadow-2 mb-4" style="color: white">Login</a>
 
           
              
            </div>
        </div>
    </div>
</div>