table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 0%;
}

/* component.css */

.transparent-button {
  background-color: transparent;
  border: none; /* Remove the border */
}
.transparent-button:hover {
  background-color: rgb(215, 215, 215); /* Reset background color on hover */
}

.transparent-button1 {
  background-color: transparent;
  border: none; /* Remove the border */
}
.transparent-button1:hover {
  background-color: transparent; /* Reset background color on hover */
}
.transparent-button1:active {
  background-color: rgb(235, 235, 235); /* Reset background color on hover */
}
.red-icon {
  color: red;
}

.column-width {
  width: 25%; /* Adjust this value as needed */
}
