<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Update Employee</h5>
              </div>
              <div class="card-body">
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <label for="firstname">firstname</label>
                        <input
                          type="text"
                          class="form-control"
                          id="firstname"
                          formControlName="firstname"
                          pattern="[A-Za-z]+"
                          required
                          placeholder="Ex. Hamdi"
                        />
                        <div
                          *ngIf="
                            myForm.get('firstname')?.invalid &&
                            (myForm.get('firstname')?.dirty ||
                              myForm.get('firstname')?.touched)
                          "
                        >
                          <span class="error-message"
                            >firstname must contain only upper and lower case
                            letters.</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="lastname">lastname</label>
                        <input
                          type="text"
                          class="form-control"
                          id="lastname"
                          formControlName="lastname"
                          pattern="[A-Za-z]+"
                          required
                          placeholder="Ex. Hedi"
                        />
                        <div
                          *ngIf="
                            myForm.get('lastname')?.invalid &&
                            (myForm.get('lastname')?.dirty ||
                              myForm.get('lastname')?.touched)
                          "
                        >
                          <span class="error-message"
                            >lastname must contain only upper and lower case
                            letters.</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="job">Job</label>
                        <input
                          type="job"
                          class="form-control"
                          id="job"
                          formControlName="job"
                          placeholder="Ex. Software Developer"
                        />
                        <div
                          *ngIf="
                            myForm.get('job')?.invalid &&
                            (myForm.get('job')?.dirty ||
                              myForm.get('job')?.touched)
                          "
                        >
                          <span class="error-message"
                            >Job must contain only upper and lower case letters
                            and spaces</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          formControlName="email"
                          placeholder="Ex. Alex.Alex@company.com"
                        />
                        <div
                          *ngIf="
                            myForm.get('email')?.invalid &&
                            (myForm.get('email')?.dirty ||
                              myForm.get('email')?.touched)
                          "
                        >
                          <span class="error-message"> Email invalid .</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="number">Phone Number</label>
                        <input
                          type="number"
                          class="form-control"
                          id="number"
                          formControlName="number"
                          placeholder="Ex. 90777777"
                        />
                        <div
                          *ngIf="
                            myForm.get('number')?.invalid &&
                            (myForm.get('number')?.dirty ||
                              myForm.get('number')?.touched)
                          "
                        >
                          <span class="error-message"
                            >Number contain 8-digit positive</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address">Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="address"
                          formControlName="address"
                          placeholder="Ex. Tunis"
                        />
                        <div
                          *ngIf="
                            myForm.get('address')?.invalid &&
                            (myForm.get('address')?.dirty ||
                              myForm.get('address')?.touched)
                          "
                        >
                          <span class="error-message">Address invalid.</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="birthday">birthday</label>
                        <input
                          type="date"
                          class="form-control"
                          id="birthday"
                          formControlName="birthday"
                        />
                        <div
                          *ngIf="
                            myForm
                              .get('birthday')
                              ?.hasError('dateNaissanceInvalid')
                          "
                        >
                          <span class="error-message"
                            >Invalid date of birth, age is less than 18 years
                            old.</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="degree">degree</label>
                        <input
                          type="text"
                          class="form-control"
                          id="degree"
                          formControlName="degree"
                          placeholder="Ex. Master"
                        />
                        <div
                          *ngIf="
                            myForm.get('degree')?.invalid &&
                            (myForm.get('degree')?.dirty ||
                              myForm.get('degree')?.touched)
                          "
                        >
                          <span class="error-message">Degree invalid.</span>
                        </div>
                      </div>
                      <label for="degree">Roles</label>
                      <div *ngFor="let role of roles">
                        <label class="checkbox-label">
                          <input
                            class="styled-checkbox"
                            type="checkbox"
                            (change)="onroleSelect(role, $event)"
                            [checked]="isSelectedRole(role)"
                          />
                          {{ role.name }}
                        </label>
                      </div>

                      <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="myForm.invalid || selectedRole.length === 0"
                      >
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
