.card-body {
  padding: 30px;
}

.card-title {
  color: #333;
}

.form-select,
.form-control {
  border-radius: 5px;
}

.submit-btn {
  margin-top: 15px;
}

.list-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

@media (max-width: 768px) {
  .list-card {
    margin-top: 15px;
  }
}

.grey-bg {  
  background-color: #F5F7FA;
}


